@{ Layout = ""; }
<!DOCTYPE html>

<html lang="ru">
<head>

    <meta charset="UTF-8">

    <title> TEST PAGE </title>
</head>

<body>
    <form method="get" action="/Nalog/Get">
        <input type="text" name="value" />
        <input type="submit" value="Press me" />
    </form>
    <p>@ViewBag.Data;</p>
</body>

</html>